:root{
  --primary-colore:#6f55f2;
  --heading-colore:#132742;
};
body{
  font-family: 'Times New Roman', Times, serif
};
ul{
  list-style: none;
};


section{
padding: 50px 60px;  
}

.button{
  background: var(--primary-colore);
  color: #fff;
  border: none;
  border-radius:5px ;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: 700;
  outline:none;
  padding: 7px 15px;
  cursor: pointer;

}